name: Backend CI

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - 'backend/**'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'backend/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name:
        working-directory: ./backend
        run: mvn clean install